
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Orbitron);

h1,h2 {
font-family: 'Orbitron', sans-serif;
}
h3 {
  font-size: 1.5em;
  margin:0;
}
h1, h2, h3 {
  padding-top:40px;
}
.btn-block {
    width: 60%;
    display: block;
    margin:0px auto;
    padding: 10px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title img {
  width:50px;
}
.title h1{
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 2em;
}
figure h2 {
  font-family: arial;
  line-height: 1.5em;
  font-weight: bold;
  font-size:1.5em;
  position: absolute;
  width: 90%;
  margin:10px;
}
figure p, figure a {
  font-size:1.3em;
}
figure .text {
  margin-top:30px;
  margin-left: 15px;
}
.text_white {color:white;}
#exemple {
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-variant: small-caps;
}

.front {
  margin: 20px;
}

.text {
  margin: 5px;
}
.link {
  display: flex;
  justify-content: center;
  margin-top:10px;
}
.text a {
  text-decoration: none;
  color: #3090CF;
  font-weight: bold;
}

.front img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.type::before{
  content:"Type : ";
  font-variant:normal;
  font-weight: bold;
}
.specificity::before{
  content:"Spécificité : ";
  font-variant:normal;
  font-weight: bold;
}
.export::before{
  content:"Export : ";
  font-variant:normal;
  font-weight: bold;
}

.container1 {
  width: 300px;
  height: 200px;
  position: relative;
  perspective: 800px;
  z-index: 1;
  margin:20px;
}
.card {
  width: 100%;
  height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
  transition: transform 1s;
  -webkit-transform:rotateY(0deg);
  overflow:visible;

}
.container1:hover .card {
  transform: rotateY( 180deg );
  -webkit-transform: rotateY( 180deg );
}
.card figure {
  margin: 0;
  display: block;
  position: absolute;;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  opacity:0.99;
}

.card .back {
  background: #DADFE1;
transform: rotateY(180deg);
-webkit-transform:  rotateY(180deg);
}

.download-button a {
  transition: 1s;
}

.download-button a:hover {
  background-color: #eeeeee;
}
a.launch_resource {
  background-color:#eeeeee;
  padding:10px;
  border-radius:5px;
  display:inline-block;
  margin:0 auto;
}
a.download_resource {
  font-size:0.9em;
  font-weight:400;
  color:#555555;
}

.button_read {
  border:2px solid white;
  display:inline-block;
  text-align:center;
  margin:10px;
  width: 20%;
  min-width: 200px;
}

.button_read a{
  font-size:1.2em;
  padding:20px;
  color:white;
  display:block;
  width:auto;
  height:100%;
}

.button_read a:hover{
  filter: brightness(80%);
  transition: 1s;
  text-decoration: none;

}
